div.content-scroller {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
}

@media (max-width: 899px) {
    div.content-scroller {
        flex-direction: column;

        div.navigation {
            position: initial;
        }

        div.content {
            padding: 0 12px;
        }
    }
}