div.content-scroller {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;


    div.navigation {
        position: sticky;

        width: 300px;
        padding: 20px;

        background-color: lightgrey;
        border-radius: 14px;
    }

    div.content {

    }
}

@media (max-width: 899px) {
    div.content-scroller {
        flex-direction: column;

        div.navigation {
            position: initial;
        }

        div.content {
            width: 100vw;
            padding: 0 12px;
        }
    }
}