div.flip-card {
    position: relative;

    .c {
        max-width: 500px;
        max-height: 500px;
        width: 50ch;
        height: 50ch;

        border-radius: 10px;

        cursor: pointer;
        will-change: transform, opacity;

        &.front {
            position: absolute;
        }    
    }


    .front,
    .back {
    background-size: cover;
    }
}
