div.image-fade {
    position: relative;

    .bg {
        width: 500px;
        height: 500px;
        border-radius: 10px;

        background-size: cover;
        background-position: center;

        will-change: opacity;

        &.first {
            position: absolute;
        }
    }
}