div.link {
    width: fit-content;

    a.link {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: #115644;
        background-color: transparent;
        text-decoration: none;
    }
}

.dark-mode {
    div.link {
        a.link {
            color: #98ebd5 !important;
        }

        a.link:hover {
            font-weight: bold;
        }
    }
}
