html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    /* default font size */
    font-size: 24px;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Courier New', Courier, monospace;
}
   
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
