div.content-navigation-container {
    position: sticky;
    top: 0;

    width: 300px;
    max-height: 300px;

    padding: 10px;
    font-size: 20px;

    font-family: sans-serif;

    div.content-navigation-menu {
        padding: 10px 20px 20px 20px;
    
        display: flex;
        flex-direction: column;
    
        background-color: rgba(54, 54, 69, 0.05);
        border-radius: 15px;
        // box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);

        span:hover { 
            color: #115644;
        }

        .active { 
            color: #115644;
            font-weight: bold;
        }

        svg {
            margin: 0 !important;
        }

        svg:hover {
            color: #115644;            
        }

        svg:hover + span {
            color: #115644;
        }
    }    
}

.dark-mode {
    div.content-navigation-container {
        span, svg {
            color: white;
        }

        span:hover {
            color: #98ebd5 !important;
        }

        .active {
            color: #98ebd5 !important;
            font-weight: bold;
        }

        svg:hover {
            color: #98ebd5 !important;            
        }

        svg:hover + span {
            color: #98ebd5 !important;
        }
    }
}
